*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}


.portada{
    background-image: linear-gradient(120deg, rgba(163, 147, 251, 0.699) 0%, rgba(22, 20, 156, 0.74) 100%), url("../img/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.content-cards{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    text-align: center;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background-color: #383958;
}

.card img{

    align-self: center;
    width: 45%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.content-cards-offers{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardf{
    width: 300px;
    text-align: center;
    align-content: center;
    height: 450px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background-color: white;
}
.cardc{
    width: 300px;
    text-align: center;
    align-content: center;
    height: 225px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    background-color: white;
}

.downloadB{
    display: inline-block;
    text-decoration: none;
    background-color: #383958;
    border-color: white;
    padding: 12px 15px;
    border-radius: 10px;
    color: #fff;
}

.downloadB:hover{
    background-color: white;
    border-color: #383958;
    color: #383958;
}

.content-cards a{
    text-decoration: none;
}
.content-cards a{
    color: white;
}

.details{
    display: inline-block;
    text-decoration: none;
    background-color: #383958;
    padding: 12px 15px;
    border-radius: 8px;
    color: white;
}

.details:hover{
 color: white;
}





